* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:  rgb(144, 250, 151); 
}

header {
    text-align: center;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: underline;
}


h2 {
    padding: 5px;
    background-color:  #425e9a ;
    text-align: center;
    color: #e6cb47;
    border-bottom: 2px solid black;
}

section {
    border: 2px solid black;
    margin: 10px;
    background-color:  #de9139 ;
}

article {
    text-align: center;
    font-size: 20px;
}

li {
    margin: 5px;
    list-style-position: inside;
    list-style-type: none;
}